$TTL 1d
@  IN  SOA  {{ dns["dns-server-fqdn"] }} null ( 2019010101 1h 30m 1w 1d )
@  IN  NS   {{ dns["dns-server-fqdn"] }}
@  IN  A    {{ dns["gateway-ip-address"] }}
@  IN  A    {{ dns["dns-server-ip-address"] }}
@  IN  A    {{ dns["dhcp-server-ip-address"] }}
@  IN  A    {{ dns["pxe-server-ip-address"] }}
{{ dns["gateway-fqdn"] }}      IN  A  {{ dns["gateway-ip-address"] }}
{{ dns["dns-server-fqdn"] }}   IN  A  {{ dns["dns-server-ip-address"] }}
{{ dns["dhcp-server-fqdn"] }}  IN  A  {{ dns["dhcp-server-ip-address"] }}
{{ dns["pxe-server-fqdn"] }}   IN  A  {{ dns["pxe-server-ip-address"] }}
