ddns-update-style none;
default-lease-time 600;
max-lease-time 7200;
authoritative;
log-facility local7;

subnet {{ network["cidr-notation"] | ipaddr('network') }} netmask {{ network["cidr-notation"] | ipaddr('netmask') }} {
  range {{ dhcp["range-start"] }} {{ dhcp["range-end"] }};
}
