ddns-update-style none;
default-lease-time 600;
max-lease-time 7200;
authoritative;
log-facility local7;
option domain-name "{{ dns["forward-zone-name"] }}";
option domain-name-servers {{ dns["private-dns-server-ip-address"] }}, {{ dns["public-dns-server-ip-address"] }};

subnet {{ network["cidr-notation"] | ipaddr('network') }} netmask {{ network["cidr-notation"] | ipaddr('netmask') }} {
  range {{ dhcp["range-start"] }} {{ dhcp["range-end"] }};
  option routers {{ dns["gateway-fqdn"] }};
  option broadcast-address {{ network["cidr-notation"] | ipaddr('broadcast') }};
}
