ddns-update-style none;
default-lease-time 600;
max-lease-time 7200;
authoritative;
log-facility local7;
option domain-name-servers {{ dns["public-dns-server"]["ip-address"] }};

subnet {{ networks["host-network"] | ipaddr('network') }} netmask {{ networks["host-network"] | ipaddr('netmask') }} {
  range {{ dhcp["range-start"] }} {{ dhcp["range-end"] }};
  option routers {{ networks["host-network"] | ipaddr(1) | ipaddr("address") }};
  option broadcast-address {{ networks["host-network"] | ipaddr('broadcast') }};
  filename "pxelinux.0";
}
